:root {
  --main-color: #e9b32a;
  --secondary-color: #bbbbbb;
}

.App-header {
  background-color: var(--main-color);
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > a {
  color: white;
  text-decoration: none;
}

.App-header > a:hover {
  text-decoration: none;
}

h1 {
  color: #ffc42e;
  text-align: center;
  font-size: 4rem;
}